services:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    #environment:
    #  - APP_ENV=production
    #  - APP_DEBUG=false
    ports:
      - "8081:8081"
    volumes:
      - ./data:/app/data
